@model ACME.Models.VM.ClienteCrearVM
@{
    ViewData["Title"] = "Crear cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center mt-md-5 mt-3">
    <form method="post" autocomplete="off" asp-action="CrearCliente" class="col-md-4 mx-auto">
        
        <div class="container-fluid border p-4">

            <div class="mb-5">
                <h2 class="text-primary">Crear nueva cliente</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            </div>

            <div class="mb-3 mt-4">

                <div class="form-floating mb-4">
                    <input asp-for="ClienteCrearDto.ClienteVisitado" class="form-control" placeholder="Cliente visitado">
                    <label for="PaytefAPICompany" class="form-label text-primary">Cliente visitado</label>
                    <span asp-validation-for="ClienteCrearDto.ClienteVisitado" class="text-danger"></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="ClienteCrearDto.FechaDeVisita" class="form-control" placeholder="Fecha de visita">
                    <label for="Codigo" class="form-label text-primary">Fecha de visita</label>
                    <span asp-validation-for="ClienteCrearDto.FechaDeVisita" class="text-danger"></span>
                </div>

                <div class="form-floating mb-4">
                    <input asp-for="ClienteCrearDto.ComercialResponsable" class="form-control" style="height: 65px;" placeholder="Comercial responsable">
                    <label for="Nombre" class="form-label text-primary">Comercial responsable</label>
                    <span asp-validation-for="ClienteCrearDto.ComercialResponsable" class="text-danger"></span>
                </div>

            </div>


            <div class="d-grid gap-2  mt-5">
                <button type="submit" class="btn btn-success">Crear</button>
                <a asp-controller="Cliente" asp-action="ListadoCliente" class="btn btn-primary">Atrás</a>
            </div>
        </div>
    </form>
</div>
